[Unit]
Description=Keep mate-power-manager running during session
ConditionFileIsExecutable=/usr/bin/mate-power/manager

[Service]
Type=simple
ExecStart=/usr/bin/mate-power-manager
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=mate-utils.target