[Unit]
Description=Keep mate-settings-daemon running during session
ConditionFileIsExecutable=/usr/bin/mate-settings-daemon

[Service]
Type=simple
ExecStart=/usr/bin/mate-settings-daemon
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=mate-utils.target