[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/home/steffen/opt/bin/emacs --daemon -f exwm-enable --debug-init
ExecStop=/home/steffen/opt/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
TimeoutStartSec=0

[Install]
WantedBy=default.target
